.git
.github
.vscode
__pycache__
*.pyc
*.pyo
*.egg-info
node_modules
web-app
tests
readmeAssets
*.png
*.jpg
*.ico
*.icns
*.ui
*.spec
Sunnify.spec
Template.py
Spotify_Downloader.py
req.txt
requirements-dev.txt
pyproject.toml
